<h1>Contact Page</h1>

<p><%= number_to_phone "1234567890" %></p>
<p><%= number_to_currency "12334646" %></p>
<p><%= number_to_percentage "3.88" %></p>
<p><%= number_with_delimiter "35465236847384" %></p>
